.pull-left.upcoming-events
  .navigation
    .block-left
      - unless CalMonth.upcoming_events.first == @current_event
        = link_to current_event_path(CalMonth.upcoming_events.index(@current_event) - 1, format: :js), class: 'navigation-left', remote: true do
          %span.glyphicon.glyphicon-chevron-left
    %span.text= t(".day.#{@current_event[:start_datetime].wday}")
    .block-right
      - unless CalMonth.upcoming_events.last == @current_event
        = link_to current_event_path(CalMonth.upcoming_events.index(@current_event) + 1, format: :js), class: 'navigation-right', remote: true do
          %span.glyphicon.glyphicon-chevron-right
  .date
    .block-left
    .number
      %span.text=@current_event[:start_datetime].day
    .block-right
  .event-info
    .name= truncate(@current_event[:name], length: 45, omission: '...')
    .more-info
      %span=". . ."
      .time=pretty_from_to(@current_event)

